body {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(161,203,224,1) 25%, rgba(161,203,224,1) 75%, rgba(255,255,255,1) 100%);
}

#game {
  margin-left: 18%;
  max-width: 1400px;
}

#disable {
  pointer-events: none;    
}

#enable {
  pointer-events: auto;    
}

#game div {
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
  width: 14%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  
}






.titleContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}



.startContainer {
  width: 314px;
  height: 140px;
  display: flex;
  justify-content: space-around;
}

.startContainer:hover {
  width: 314px;
}

.startButton {
  border: none;
  background-color: rgba(136, 106, 106, .0)
}

.startButton:hover {
}

.startGame {
  font-family: 'EB Garamond';
  font-size: 40px;
  padding: 5px 18px 5px 18px;
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  color: rgba(0, 0, 255, .5);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
  margin-top: 40px;
}

.startGame:hover {   
  color: rgba(0, 0, 255, .5);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
}

.startGame:active {
  font-size: 39px;
}





.memoryContainer {
  width: 600px;
}

.memoryTitle {
  font-family: 'EB Garamond';
  font-size: 50px;
  padding: 5px 18px 5px 18px;
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  color: rgba(0, 0, 255, .5);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
}






.currentScoreContainer {
  width: 314px;
  height: 140px;
}

.currentScoreContainer:hover {
  width: 314px;
}

.currentScoreButton {
  border: none;
  background-color: rgba(136, 106, 106, .0)
}

#score {
  margin-top: 40px;
  margin-left: 60px;
  font-family: 'EB Garamond';
  font-size: 40px;
  padding: 5px 18px 5px 18px;
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  color: rgba(0, 0, 255, .5);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
}


 






.highScoreContainer {
  
  /* width: 440px; */
  height: 140px;
}

.highScoreContainer:hover {
  /* margin-left: 37%;  */
  
  /* width: 440px; */
}

.highScoreButton {
  margin-left: 39%;
  border: none;
  background-color: rgba(136, 106, 106, .0)
}

.highScoreButton:hover {
}

.highScore {
  font-family: 'EB Garamond';
  font-size: 40px;
  padding: 5px 18px 5px 18px;
  color: rgba(108, 108, 255, 0.5);
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(133, 133, 255, 0.2);
}

.highScore:hover {  
  color: rgba(0, 0, 255, .5);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
}

.highScore:active {
  font-size: 39px;
}


#hideScoring {
  visibility: hidden;
}

#seeScoring { 
  visibility: visible;
}




.saveScoreContainer {
  
  display: flex;
  justify-content: space-evenly;
  height: 150px;
}

.saveScoreContainer:hover {
  /* margin-left: 37%;  */
  
  /* width: 440px; */
}

.saveScoreButton {
  /* margin; */
  border: none;
  color: rgba(136, 106, 106, .2)
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(133, 133, 255, 0.2);
}


.saveScoreButton:hover {
}

.saveScore {


}

.saveScore:hover {  
  color: rgba(0, 0, 255, .5);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
}

.saveScore:active {
  font-size: 39px;
}

#scoreForm {
  display: flex;
  flex-direction: column-reverse;
  font-family: 'EB Garamond';
  font-size: 40px;
  padding: 0px 18px 0px 18px;
  color: rgba(108, 108, 255, 0.5);
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  line-height:80px;
  transform: translateY(-13px);
}

#initials::placeholder {
  font-family: 'EB Garamond';
  font-size: 40px;
  /* padding: 5px 18px 5px 18px; */
  color: rgba(108, 108, 255, 0.5);
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  line-height: 100px;
  transform: translateY(2px);
}

#initials {
  font-family: 'EB Garamond';
  font-size: 40px;
  color: rgba(108, 108, 255, 0.5);
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
}

input[type=text] {
  color: rgba(0, 0, 255, .5);
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
  padding: 8px;

}



.memoryTitle {

  padding: 5px 18px 5px 18px;
  
  

  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
}


.dropbtn {
  visibility: hidden;
  /* margin-top: 50px; */
  height: 140px;
  font-family: 'EB Garamond';
  font-size: 40px;
  
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
  color: rgba(108, 108, 255, 0.5);
  
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
}

.dropdown {
  
  position: absolute;
  margin-left: 2%;
  top: 0px;
}

.dropdown-content {
  /* background-color: rgba(99, 99, 148, .1) */
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
  border: 2px solid rgba(0, 0, 255, .2);
  border-radius: 10px;
  
}

.dropdown-content a {
  color: rgba(108, 108, 255, 0.8);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */